.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f6ff;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.signup-left img {
  width: 350px;
}

.signup-right {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 350px;
}

.signup-right h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.signup-right form {
  display: flex;
  flex-direction: column;
}

.signup-right input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.register-btn {
  background-color: #5a67d8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn:hover {
  background-color: #434190;
}

.signup-right p {
  text-align: center;
  margin-top: 10px;
}

.signup-right a {
  color: #5a67d8;
  text-decoration: none;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.social-icons i {
  font-size: 20px;
  margin: 0 10px;
  color: #5a67d8;
  cursor: pointer;
}